/Direction-Prediction/data/
/Direction-Prediction/autopilot_model.json
/Direction-Prediction/best_model.h5
/Direction-Prediction/mode.json
/Direction-Prediction/model.h5
/Direction-Prediction/train_val_los.jpg
/Direction-Prediction/TrainHistory_dict.p
/Direction-Prediction/Xbatch_sample.npy
/Direction-Prediction/y_bag.npy
/Image-Captioning/descriptions.txt
/Image-Captioning/Flickr_8k.devImages.txt
/Image-Digital-Processing/test_images/
/Image-Digital-Processing/cat.darkened.jpeg
/Image-Digital-Processing/cat.jpg
/Image-Digital-Processing/cat.npy
/Image-Digital-Processing/chessboard.jpg
/Image-Digital-Processing/solidWhiteRight.mp4
/Image-Digital-Processing/white.mp4
/Style-Transfer/data/
/Traffic-Sign-Recognition/traffic-signs-data/
